html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    background: url(https://images.unsplash.com/photo-1493247035880-efdf55d1cc99?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4db5bcd5c79f78a1721dbc7b2b2f16d1&auto=format&fit=crop&w=1350&q=80) bottom center;
    background-size: cover;
  }

body,html {
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    background: rgba(0,0,0,0.3);
    margin: 0;
    padding: 10;
    color: #fff;
    letter-spacing: 10px;
    font-size: 25px;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.3);
    text-shadow: 0 0 .5rem black;
  }

  kbd {
    font-family: Arial;
    display: block;
    font-size: 4rem;
  }

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #44B5CA;
  }

.active {
    transform: scale(1.1);
    border-color: #44B5CA;
    box-shadow: 0 0 1rem #44B5CA;
  }